* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: content;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

h1 {
  font-size: 2rem;
}

img {
  height: 100px;
  width: 100px;
  margin: .2rem;
}
img:hover {
  border: 4px solid black;
  border-radius: 1.2rem;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem;
}
